# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\IDEA项目\Tess4j\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
